.jumbotron {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 30px;
  background-color: orange;
  opacity: 0.75;
  margin: 10px;
}


h3 {
  font-size: 50px;
  font: outline;
}

p {
  font-size: 10px;
  text-align: center;
}