.jumbotron {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 30px;
  background-color: rgb(84, 84, 189);
  opacity: 0.9;
  margin: 10px;
}


h3 {
  font-size: 50px;
  font: outline;
}

p {
  font-size: 10px;
  text-align: center;
}

body {
  background-image: url("/assets/git.png");
  background-position: center;
  background-attachment: fixed;
}

.container{
  opacity: 0.8;
}