<div class="row">
  <div class="col-md-12">
    <form class="well">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter github username..." [(ngModel)]="username" name="username" (keyup)="searchUser()">
      </div>
    </form>
  </div>
</div>
<div *ngIf="user">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">PROFILE: {{user.name}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <img class="img-thumbnail" src="{{user.avatar_url}}">
          <a class="btn btn-default btn-block" target="_blank" href="{{user.html_url}}">View Profile</a>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="stats">
            <p>{{user.bio}}</p>
            <span class="label label-default">{{user.public_repos}} Public Repos</span>
            <span class="label label-primary">{{user.public_gists}} Public Gists</span>
            <span class="label label-success">{{user.followers}} Followers</span>
            <span class="label label-info">{{user.following}} Following</span>
            <span class="label label-danger">{{user.company}}</span>
          </div>
          <br/>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Username: </strong>{{user.name}}</li>
            <li class="list-group-item">
              <strong>Location: </strong>{{user.location}}</li>
            <li class="list-group-item">
              <strong>Email: </strong>{{user.email}}</li>
            <li class="list-group-item">
              <strong>Blog: </strong>{{user.blog}}</li>
            <li class="list-group-item">
              <strong>Member Since: </strong>{{user.created_at}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Repos</h3>
    </div>
    <div class="panel-body">
      <div *ngFor="let repo of repos">
        <div class="row">
          <div class="col-md-9">
            <h4>
              <a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a>
            </h4>
            <p>{{repo.description}}</p>
          </div>
          <div class="col-md-3">
            <span class="label label-default">{{repo.watchers}} Watchers</span>
            <span class="label label-primary">{{repo.forks}} Forks</span>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <!--experimental-->
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter a GitHub username" name="username" [(ngModel)]="username" (keyup)="searchUser()">
          </div>
        </form>
  
  
        <p style="text-align:center;">My Profile</p>
        <div class="container">
          <div class="grid">
            <div>
              <img class="profile-img img-thumbnail" src="{{user.avatar_url}}">
              <p style="font-weight:bold;">{{user.name}}</p>
              <p>{{user.login}}</p>
              <p>{{user.bio}}</p>
              <p>{{user.location}}</p>
              <p>{{user.email}}</p>
              <hr>
              <p>{{user.organisation}}
                <img src="{{user.organizations_url}}">
            </div>
            <div class="col-md-4">
              <div class="track">
                <p style="border-bottom:solid;border-color:purple; padding-bottom:15px;">Repositories:
                  <span class=label-label-primary>{{user.public_repos}}</span>
                </p>
                <p style="border-bottom:solid;border-color:purple; padding-bottom:15px;">Followers: {{user.followers}}</p>
                <p style="border-bottom:solid;border-color:purple; padding-bottom:15px;">Following: {{user.following}}</p>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Repos</h3>
                </div>
                <div class="panel-body">
                  <div *ngFor="let repo of repos">
                    <div class="row">
                      <div class="col-md-9">
                        <h4>
                          <a href="user.html_url" target="_blank">{{repo.name}}</a>
                        </h4>
                        <p>{{repo.description}}</p>
                      </div>
                      <div class="col-md-3">
                        <span class="label label-info">{{repo.watchers}} Watchers</span>
                        <span class="label label-success">{{repo.fork}} Forks</span>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->